{% comment %} MANIQUI: Layout password — sin cambios respecto a Dawn — 2026-05-04 {% endcomment %}
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'meta-tags' %}
    {{ content_for_header }}
  </head>
  <body>
    {% section 'password' %}
    {{ content_for_layout }}
  </body>
</html>
